.nav a:hover{
    background-color: lightslategray;
}

.display-4 {
    font-weight: bold;
}
.card-body {
    position: relative;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 70px;
    right: 25px;
    opacity: 0.4;
}